<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fau.mad.sls_portabiles">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name="de.fau.sensorlib.widgets.GenericFileProvider"
            android:authorities="${applicationId}.de.fau.sensorlib.sensors.logging.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>


</manifest>
